/*
font-family: 'Merienda One', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Rokkitt', serif;
font-family: 'Yesteryear', cursive;
font-family: boucherie-block, sans-serif;
font-weight: 400;
font-style: normal;
*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    background-image: url("images/binaryCode3.svg");
    background-repeat: repeat;
    background-size: contain;
    background-color: #a6d68f;
}
.wrapper {
    width: 100%;
}
.headerLogo {
    color: #a6d68f;
    background-color: #003715;
    font-family: boucherie-block, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5.5vw;
    text-align: left;
    padding-top: 0.3vw;
    padding-left: 5%;
    margin-bottom: 5vw;
}

.result {
    width: 100%;
    font-size: 2vw;
}
.blogEntry {
    background-color: #fff;
    width: 90%;
    border-radius: 0.5vw;
    margin: 5vw 5%;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.postTitle {
    color:#474750;
    margin: 0vw 4% 1vw;
    font-size: 2.5vw;
    font-weight: 400;
}
.postAuthor {
    color:#474750;
    margin: -3vw 4% 2vw;
    font-weight: 300;
    font-size: 1.75vw;
    font-style: italic;
}
.postBody {
    color:#474750;
    padding-top: -2vw;
    margin: -3vw 4% 2vw;
    font-weight: 400;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.commentBox {
    color:#474750;
}
.commentButton {
    width: 20%;
    border-radius: 0.5vw;
    padding: 1vw;
    margin: 3vw 4% 1vw;
    text-align: center;
    font-weight: 500;
    color: #fff;
    background-color: #a6d68f;;
}
.commentButtonHover {
    /* width: 20%;
    border-radius: 0.5vw;
    padding: 1vw;
    margin: 3vw 4% 1vw;
    text-align: center;
    font-weight: 500; */
    color:  #a6d68f;
    background-color:#003715;
}
.postCommentsName {
    color:#474750;
    padding-top: -2vw;
    margin: 3vw 6% 2vw;
    font-weight: 500;
}
.postCommentsBody {
    color:#474750;
    padding-top: -2vw;
    margin: -3vw 6% 0vw;
    font-weight: 400;
}