/*
font-family: 'Merienda One', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Rokkitt', serif;
font-family: 'Yesteryear', cursive;
*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    color: #120c77;
    background-color: #a6d68f;
}
.wrapper {
    width: 100%;
}
.headerLogo {
    color: #a6d68f;
    background-color: #396e5a;
    font-family: 'Merienda One', cursive;
    font-size: 4vw;
    text-align: left;
    padding-top: 1vw;
    padding-left: 5%;
    padding-bottom: 1vw;
    margin-bottom: 5vw;
}

.result {
    width: 100%;
    font-size: 2vw;
    color:#120c77;
}
.blogEntry {
    background-color: #fff;
    width: 90%;
    border-radius: 0.5vw;
    margin: 5vw 5%;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.postTitle {
    color:#474750;
    margin: 0vw 4% 1vw;
    font-size: 2.5vw;
    font-weight: 400;
}
.postAuthor {
    color:#474750;
    margin: -3vw 4% 2vw;
    font-weight: 300;
    font-size: 1.75vw;
    font-style: italic;
}
.postBody {
    color:#474750;
    padding-top: -2vw;
    margin: -3vw 4% 2vw;
    font-weight: 400;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.commentBox {
    color:#474750;
}
.postComments {
    color:#474750;
    padding-top: -2vw;
    margin: 4vw 4% 2vw;
    font-weight: 500;
    text-decoration: underline;
}
.postCommentsName {
    color:#474750;
    padding-top: -2vw;
    margin: -3vw 6% 2vw;
    font-weight: 500;
}
.postCommentsBody {
    color:#474750;
    padding-top: -2vw;
    margin: -3vw 6% 2vw;
    font-weight: 400;
}